<!--VGO BEGIN_SCENARIO_BOX -->
<!-- slot=0 -->
<div id="maintop-gateway">
	<div class="cat-path-section">
    	<!--VGO CATEGORY_PATH -->
    </div>
    <div class="sort-section">
        <form name="list_form" id="list_form">
            <span id="entryNav"><!--VGO ENTRY_SELECTION --></span>
            <span id="sortNav"><!--VGO SORT_SELECTION --></span>
        </form>
    </div>
	<BR /><BR />
    <div class="break basic-font font11">
    	<!--VGO CATEGORY_NAVIGATOR_INDICATOR -->
    </div><!--break-->
    
    <div class="page-list">
        <!--VGO CATEGORY_NAVIGATOR -->
    </div><!--page-list-->
</div><!-- maintop-->

<div id="mainbody">
    <div class="product-list">
        <ul>
        <!--VGO BEGIN_LOOP -->
            <!--VGO LOOP_SCENARIO -->
            <li <!--VGO FORTH_CLASS -->><a href="<!--VGO PRODUCT_LINK -->"><img title="<!--VGO PRODUCT_NAME -->" alt="<!--VGO PRODUCT_NAME -->" class="product-images" src="<!--VGO PRODUCT_IMAGE -->" /></a>
                <p><a href="<!--VGO PRODUCT_LINK -->">SKU: <!--VGO PRODUCT_CODE --><BR /><!--VGO PRODUCT_NAME --></a>
                	<BR /><!--VGO PRODUCT_DESC -->
                </p>
                <div class="bottom-list">
                    <!--VGO QUICK_CART -->
                </div>
            </li>
            <!--VGO END_LOOP_SCENARIO -->
            <!--VGO LOOP_SCENARIO -->
            <!-- new sample-->
            <li <!--VGO FORTH_CLASS -->><a href="<!--VGO PRODUCT_LINK -->"><img class="product-images" src="<!--VGO PRODUCT_IMAGE -->" alt="<!--VGO PRODUCT_NAME -->"/></a>
                <img src="<!--VGO TEMPLATE_PATH -->images/icon_new.png" alt="new" class="icon"/>
                <p><a href="<!--VGO PRODUCT_LINK -->">SKU: <!--VGO PRODUCT_CODE --><BR /><!--VGO PRODUCT_NAME --></a>
                	<BR /><!--VGO PRODUCT_DESC -->
                </p>
                <div class="bottom-list">
                    <!--VGO QUICK_CART -->
                </div>
            </li>
            <!--VGO END_LOOP_SCENARIO -->
            <!--VGO LOOP_SCENARIO -->
            <!-- sale sample-->
            <li <!--VGO FORTH_CLASS -->><a href="<!--VGO PRODUCT_LINK -->"><img class="product-images" src="<!--VGO PRODUCT_IMAGE -->" alt="<!--VGO PRODUCT_NAME -->"/></a>
                 <img src="<!--VGO TEMPLATE_PATH -->images/icon_sale.png" alt="sale" class="icon"/>
                 <p><a href="<!--VGO PRODUCT_LINK -->">SKU: <!--VGO PRODUCT_CODE --><BR /><!--VGO PRODUCT_NAME --></a>
                	<BR /><!--VGO PRODUCT_DESC -->
                 </p>
                <div class="bottom-list">
                    <!--VGO QUICK_CART -->
				</div>
            </li>
            <!--VGO END_LOOP_SCENARIO -->
            <!--VGO LOOP_SCENARIO -->
            <!-- color chooese sample-->
            <li <!--VGO FORTH_CLASS -->>
                 <a href="#"><img class="product-images" src="images/product/001.jpg" alt=""/></a>
                 <p>Bumper Zena-21 Perforated Peep</p>
                 <span class="market-price">$46.36</span>
                  <span class="price">$36.36</span>
                     <div class="color s-color">
                         <a href="#" class="black">Black</a>
                         <a href="#" class="gray">Gray</a>
                         <a href="#" class="gray2">Gray2</a>
                         <a href="#" class="white">White</a>
                     </div>
            </li>
            <!--VGO END_LOOP_SCENARIO -->
        <!--VGO END_LOOP -->
            <li class="clear"></li>
        </ul>
    </div>
</div><!--mainbody-->

<div id="mainbottom">
    <div class="break basic-font font11">
        <!--VGO CATEGORY_NAVIGATOR_INDICATOR -->
    </div><!--break-->
    
    <div class="page-list">
        <!--VGO CATEGORY_NAVIGATOR2 -->
    </div><!--page-list-->
</div>

<!--VGO END_SCENARIO_BOX -->

<!--VGO BEGIN_SCENARIO_BOX -->
<!-- slot=1 -->
    <a href="<!--VGO ORG_URL -->" class="home">HOME</a>
	<!--VGO BEGIN_LOOP -->
    &raquo; <a href="<!--VGO CATEGORY_LINK -->"><!--VGO CATEGORY_NAME --></a>
	<!--VGO END_LOOP -->
<!--VGO END_SCENARIO_BOX -->

<!--VGO BEGIN_SCENARIO_BOX -->
<!-- slot=2 -->
<a href="<!--VGO CATEGORY_FISRT_PAGE_URL -->" class="first-button">First</a>
<!--VGO BEGIN_LOOP 10 -->
<a href="<!--VGO CATEGORY_PAGE_URL -->"><!--VGO CATEGORY_PAGE --></a>
<!--VGO END_LOOP -->
<a href="<!--VGO CATEGORY_LAST_PAGE_URL -->" class="last-button">Last</a> <a href="<!--VGO CATEGORY_VALL_URL -->" class="view-all">View All</a> <a href="<!--VGO PREV_LINK -->" class="prev-button"></a> <a href="<!--VGO NEXT_LINK -->" class="next-button"></a>
<!--VGO END_SCENARIO_BOX -->

<!--VGO BEGIN_SCENARIO_BOX -->
<!-- slot=3 -->
<a href="<!--VGO CATEGORY_FISRT_PAGE_URL -->" class="first-button">First</a>
<!--VGO BEGIN_LOOP 10 -->
<a href="<!--VGO CATEGORY_PAGE_URL -->"><!--VGO CATEGORY_PAGE --></a>
<!--VGO END_LOOP -->
<a href="<!--VGO CATEGORY_LAST_PAGE_URL -->" class="last-button">Last</a> <a href="<!--VGO CATEGORY_VALL_URL -->" class="view-all">View All</a> <a href="<!--VGO PREV_LINK -->" class="prev-button"></a> <a href="<!--VGO NEXT_LINK -->" class="next-button"></a>
<!--VGO END_SCENARIO_BOX -->

<!--VGO BEGIN_SCENARIO_BOX -->
<!-- slot=4 -->
	Displaying <!--VGO BEGIN_IDX --> - <!--VGO END_IDX --> of <!--VGO TOTAL_ITEMS -->
<!--VGO END_SCENARIO_BOX -->

<!--VGO BEGIN_SCENARIO_BOX -->
<!-- slot=5 -->
    <span class="market-price"><!--VGO PRODUCT_MARK_PRICE --></span><BR />
    <span class="price">Price: <!--VGO PRODUCT_FINAL_PRICE --></span><BR />
    <form name="quick_form" method="post" action="shopping_cart.php?oaction=add_product">
    <input type="hidden" name="pid" value="<!--VGO PRODUCT_ID -->">
    <input type="hidden" name="cid" value="<!--VGO CATEGORY_ID -->">
    <fieldset class="add-to-cart">
        <input type="text" name="qty" class="input-qty" />
    </fieldset>
    <input type="image" src="<!--VGO TEMPLATE_PATH -->images/button_add2cart.jpg" style="float:right; border:0;" />
    </form>
<!--VGO END_SCENARIO_BOX -->

<!--VGO BEGIN_SCENARIO_BOX -->
<fieldset class="add-to-cart">add to cart</fieldset>
<!--VGO END_SCENARIO_BOX -->

<!--VGO BEGIN_SCENARIO_BOX -->
<!-- slot=7 -->
Sort By <select name="sorturl" onChange="location.href=document.list_form.sorturl.value">
    <option value="<!--VGO CATEGORY_URL -->_p1_s1.html" <!--VGO SORT_TYPE1_SEL --> >Latest Items</option>
    <option value="<!--VGO CATEGORY_URL -->_p1_s2.html" <!--VGO SORT_TYPE2_SEL --> >Price: High to Low</option>
    <option value="<!--VGO CATEGORY_URL -->_p1_s3.html" <!--VGO SORT_TYPE3_SEL --> >Price: Low to High</option>
    <option value="<!--VGO CATEGORY_URL -->_p1_s4.html" <!--VGO SORT_TYPE4_SEL --> >Name: A-Z</option>
    <option value="<!--VGO CATEGORY_URL -->_p1_s5.html" <!--VGO SORT_TYPE5_SEL --> >Name: Z-A</option>
</select>
<!--VGO END_SCENARIO_BOX -->

<!--VGO BEGIN_SCENARIO_BOX -->
<!-- slot=8 -->
    <select name="entrySel" id="entrySel" onChange="location.href=document.list_form.entrySel.value">
    	<option value="<!--VGO CATEGORY_URL -->_p1_s<!--VGO CURRENT_SORT -->_ipp24.html" <!--VGO IPP_TYPE1_SEL --> >24 per page</option>
    	<option value="<!--VGO CATEGORY_URL -->_p1_s<!--VGO CURRENT_SORT -->_ipp48.html" <!--VGO IPP_TYPE2_SEL --> >48 per page</option>
    	<option value="<!--VGO CATEGORY_URL -->_p1_s<!--VGO CURRENT_SORT -->_ipp72.html" <!--VGO IPP_TYPE3_SEL --> >72 per page</option>
    </select>
<!--VGO END_SCENARIO_BOX -->
